@import '~bootstrap/scss/bootstrap.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
  a{
    text-decoration: none;
  }
}

html{
  &::-webkit-scrollbar {  
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom,#b100f7,#c13ff5, #c777e7);
    border-radius: 10px;
  }
}